.maps {
    width: 100%;
}
.maps__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 1400px;
    width: 100%;
    height: 500px;
    padding-top: 20px;
    padding-bottom: 30px;
    background-color: var(--lightblack-color);
}
.maps__map {
    max-width: 1280px;
    width: 100%;
    height: 400px;
    border-radius: 20px;
}
.maps__block-logo{
    max-width: 1280px;
    width: 100%;
    color: var(--font-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 15px;
}
.maps__logo {
    background-color: var(--font-color);
    width: 120px;
    height: 40px;
    padding: 5px;
    border-radius: 15px;
}
.maps__block-contacts{
    max-width: 1280px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--font-color);

    
}
@media (max-width: 568px) {
    .maps__block-logo, .maps__block-contacts{
flex-direction: column;
justify-content: center;
gap: 10px;
    }
}